@{
    ViewData["Title"] = "Ad advertisement";
}
@model DTO.AdRequest.AddAdvertisementRequest

<div asp-validation-summary="ModelOnly"></div>

<div class="mainContainer">

    <div class="addAdvertisementContainer">

        <form action="/Ads/AddAdvertisement" method="post" enctype="multipart/form-data">

            <div>

                <label class="title">Title <span class="validationLabel" asp-validation-for="Title"></span></label>

                <input type="text" class="enterData enterTitle" asp-for="Title" />

                <label class="title">Text <span class="validationLabel" asp-validation-for="Text"></span></label>

                <textarea asp-for="Text" class="enterData enterText"></textarea>

                <label class="title">Image <span class="validationLabel" asp-validation-for="Image"></span></label>

                <input type="file" class="enterData" asp-for="Image" />

                <div class="buttonsContainer">
                    <input type="submit" class="buttonToEnter" value="Enter" />
                    <a href="~/Ads" class="buttonToCancel">Cancel</a>
                </div>

            </div>

        </form>

    </div>

</div>