@{
    ViewData["Title"] = "Ad advertisement";
}
@model DTO.AdDto

<div asp-validation-summary="ModelOnly"></div>

<div class="mainContainer">

    <div class="addAdvertisementContainer">

        <form method="post" action="~/Ads/AddAdvertisement">

            <div>

                <label class="title">Add new advertisement <span class="validationLabel" asp-validation-for="Text"></span></label>

                <textarea asp-for="Text" class="enterData"></textarea>

                <div class="buttonsContainer">
                    <input type="submit" class="buttonToEnter" value="Enter" />
                    <a href="~/Ads/Index" class="buttonToCancel">Cancel</a>
                </div>

            </div>

        </form>

    </div>

</div>