@{
    ViewData["Title"] = "Ad advertisement";
}
@model AdsApp.Models.ViewModels.AdDto

<div class="mainContainer">

    <div class="addAdvertisementContainer">

        <form method="post" action="~/Ads/AddAdvertisement">

            <label>
                Add new advertisement <span class="validationLabel"></span>
            </label>

            <textarea asp-for="Text" class="enterData"></textarea>

            <div class="buttonsContainer">
                <input type="submit" class="enter" value="Enter" />
                <a href="~/Ads/Index" class="buttonToRegister">Cancel</a>
            </div>

        </form>

    </div>

</div>