@model DTO.AdDto
@{
    ViewData["Title"] = Model.Title;
}}

<div class="mainContainer">

    <div class="singleContainer">

        @if (!string.IsNullOrEmpty(Model.ImagePath))
        {
            <div class="image">
                <img src="@Url.Content("~/" + Model.ImagePath + "?width=400&height=200")" />
            </div>
        }

        <div class="title">
            @Model.Title
        </div>

        <div class="text">
            @Model.Text
        </div>

    </div>

</div>