@using AdsApp.Extensions;
@using AdsApp.Helpers;
@model AdsApp.Models.IndexViewModel
@{
    ViewData["Title"] = "Home";
}
@{Guid userId = User.Claims.GetUserId();}

@Html.Partial("SearchPartialView");

<div class="mainContainer">

    <div class="adsContainer">

        @Html.Partial("AdsPartialView", Model.Ads)

        <div class="pagination">

            @Html.PageLinks(Model.PageViewModel, x => Url.Action("Index", new
               {
                   SearchText = Model.SearchRequest.SearchText,
                   SearchDate = Model.SearchRequest.SearchDate,
                   SortDate = Model.SearchRequest.SortDate,
                   SortRating = Model.SearchRequest.SortRating,
                   SortNumber = Model.SearchRequest.SortNumber,
                   currentPageNumber = x
               }))

        </div>

    </div>

</div>