@model List<AdsApp.Models.ViewModels.AdDto>
@{
    ViewData["Title"] = "Home";
}

<div id="modalWindow" class="modalWindow"></div>

<div class="mainContainer">

    <div class="userInterfaceContainer">

        @foreach (var ad in Model)
        {
        <div class="ad">
            <div class="imgContainer">

            </div>
            <div class="titleContainer">
                @ad.Text
            </div>
            <div class="adButtonsContainer">

                <form method="get" action="~/Ads/UpdateAdvertisement">
                    <input type="hidden" value="@ad.Id" name="adId" />
                    <input type="submit" value="U"/>
                </form>

            </div>
            <div class="userNameContainer">
                
            </div>
            <div class="dataContainer">
                @ad.CreatedDate
            </div>
            <div class="ratingContainer">
                <form method="get" action="~/Ads/Like">
                    <input type="hidden" value="@ad.Id" name="adId" />
                    <input type="submit" value="L" />
                </form>
            </div>
        </div>
        }
        
    </div>

</div>

<script>

    var buttonToOpenModal = document.getElementById("buttonToOpenModal");
    var modalWindow = document.getElementById("modalWindow");
    var buttonToClose = document.getElementById("buttonToClose");

    buttonToOpenModal.onclick = function () {
        modalWindow.style.display = "block";
    }

    buttonToClose.onclick = function () {
        modalWindow.style.display = "none";
    }

</script>