@model DTO.AdDto
@{
    ViewData["Title"] = Model.Title;
}}

<div class="mainContainer">

    <div class="singleContainer">

        <div class="title">
            @Model.Title
        </div>

        <div class="text">
            @Model.Text
        </div>

    </div>

</div>