@{
    ViewData["Title"] = "Update advertisement";
}
@model AdsApp.Models.ViewModels.AdDto

<div asp-validation-summary="ModelOnly"></div>

<div class="mainContainer">

    <div class="updateAdvertisementContainer">

        <form method="post" action="~/Ads/UpdateAdvertisement">

            <div>

                <label class="title">Update advertisement <span class="validationLabel" asp-validation-for="Text"></span></label>

                <textarea class="enterData" name="adText">@ViewData["AdText"]</textarea>
                <input type="hidden" name="adId" value="@ViewData["AdId"]" />

                <div class="buttonsContainer">
                    <input type="submit" class="buttonToEnter" value="Enter" />
                    <a href="~/Ads/Index" class="buttonToCancel">Cancel</a>
                </div>

            </div>

        </form>

    </div>

</div>