@{
    ViewData["Title"] = "Update advertisement";
}
@model DTO.AdDto

<div asp-validation-summary="ModelOnly"></div>

<div class="mainContainer">

    <div class="updateAdvertisementContainer">

        <form method="post" action="~/Ads/UpdateAdvertisement">

            <div>

                <label class="title">Title <span class="validationLabel" asp-validation-for="Title"></span></label>

                <input type="text" class="enterData enterTitle" name="adTitle" value="@ViewData["AdTitle"]" />

                <label class="title">Text <span class="validationLabel" asp-validation-for="Text"></span></label>

                <textarea class="enterData enterText" name="adText">@ViewData["AdText"]</textarea>

                <input type="hidden" name="adId" value="@ViewData["AdId"]" />

                <div class="buttonsContainer">
                    <input type="submit" class="buttonToEnter" value="Enter" />
                    <a href="~/Ads/Index" class="buttonToCancel">Cancel</a>
                </div>

            </div>

        </form>

    </div>

</div>