@{
    ViewData["Title"] = "Login";
    var errorMessage = ViewData["ErrorMessage"];
}
@model DTO.Request.LoginRequest

<div asp-validation-summary="ModelOnly"></div>

@section Header {}

<div class="mainContainer">
    <div class="login-main">
        <div class="loginContainer">

            <span class="errorMessage">@errorMessage</span>

            <form method="post" action="~/User/Login">
                <label>
                    Login <span class="validationLabel" asp-validation-for="Login"></span>
                </label>

                <input type="text" asp-for="Login" class="enterData" />

                <label>
                    Password <span class="validationLabel" asp-validation-for="Password"></span>
                </label>

                <input type="password" asp-for="Password" class="enterData" />

                <div class="buttonsContainer">
                    <input type="submit" class="buttonToEnter" value="Enter" />
                    <a href="~/User/Register" class="buttonToCancel">Register</a>
                </div>
            </form>
        </div>
    </div>
</div>