@{
    ViewData["Title"] = "Login";
    var errorMessage = ViewData["ErrorMessage"];
}
@model AdsApp.Models.DTO.LoginRequest

<div asp-validation-summary="ModelOnly"></div>

<div class="mainContainer">
    <div class="loginContainer">

        <span class="errorMessage">@errorMessage</span>

        <form method="post" action="~/User/Login">
            <label>
                Login <span class="validationLabel" asp-validation-for="Login"></span>
            </label>

            <input type="text" asp-for="Login" class="enterData" />

            <label>
                Password <span class="validationLabel" asp-validation-for="Password"></span>
            </label>

            <input type="password" asp-for="Password" class="enterData" />

            <div class="buttonsContainer">
                <input type="submit" class="enter" value="Enter" />
                <a href="~/User/Register" class="buttonToRegister">Register</a>
            </div>
        </form>
    </div>
</div>