@model DTO.Request.RegisterRequest
@{
    ViewData["Title"] = "Register";
    var errorMessage = ViewData["ErrorMessage"];
}
<div asp-validation-summary="ModelOnly"></div>

@section Header {}

<div class="mainContainer">
    <div class="login-main">
        <div class="registerContainer">

            <span class="errorMessage">@errorMessage</span>

            <form method="post" action="~/User/Register">

                <label>
                    Login<span class="validationLabel"> * </span>
                    <span class="validationLabel" asp-validation-for="Login"></span>
                </label>

                <input type="text" asp-for="Login" class="enterData" />

                <label>
                    Name<span class="validationLabel"> * </span>
                    <span class="validationLabel" asp-validation-for="Name"></span>
                </label>

                <input type="text" asp-for="Name" class="enterData" />

                <label>
                    Password<span class="validationLabel"> * </span>
                    <span class="validationLabel" asp-validation-for="Password"></span>
                </label>

                <input type="password" asp-for="Password" class="enterData" />

                <label>
                    Confirm Password<span class="validationLabel"> * </span>
                    <span class="validationLabel" asp-validation-for="ConfirmPassword"></span>
                </label>

                <input type="password" asp-for="ConfirmPassword" class="enterData" />

                <div class="buttonsContainer">
                    <input type="submit" class="buttonToEnter" value="Enter" />
                    <a href="~/User/Login" class="buttonToCancel">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
