@{
    ViewData["Title"] = "Home Page";
}
@model AdsApp.Models.DTO.LoginRequest

<div asp-validation-summary="ModelOnly"></div>

<div class="mainContainer">
    <div class="loginContainer">
        <form method="post" action="~/Login/Authenticate">
            <label>
                Login <span class="validationLabel" asp-validation-for="Login"></span>
            </label>

            <input type="text" asp-for="Login" class="enterData" />

            <label>
                Password <span class="validationLabel" asp-validation-for="Password"></span>
            </label>

            <input type="password" asp-for="Password" class="enterData" />

            <div class="buttonsContainer">
                <input type="submit" class="enter" value="Enter" />
                <a href="~/Register" class="buttonToRegister">Register</a>
            </div>
        </form>
    </div>
</div>