@{
    ViewData["Title"] = "Home Page";
}

<div class="mainContainer">
    <div class="loginContainer">
        <form method="post" action="~/Login/Authenticate">
            <label>Login</label>
            <input type="text" name="login" class="enterLogin" />
            <label>Password</label>
            <input type="password" name="password" class="enterPassword" />

            <div class="buttonsContainer">
                <input type="submit" class="enter" value="Enter" />
                <a href="~/Register" class="buttonToRegister">Register</a>
            </div>
        </form>
    </div>
</div>