@{
    ViewData["Title"] = "Home Page";
}

<div class="mainContainer">
    <div class="registerContainer">
        <form method="post" action="~/Register/Register">
            <label>Login</label>
            <input type="text" name="login" class="enterLogin" />
            <label>Name</label>
            <input type="text" name="name" class="enterName" />
            <label>Password</label>
            <input type="text" name="password" class="enterPassword" />
            <label>Confirm Password</label>
            <input type="text" name="confirmPassword" class="enterConfirmPassword" />
            <div class="buttonsContainer">
                <input type="submit" class="enter" value="Enter" />
                <a href="~/Login" class="buttonToLogin">Cancel</a>
            </div>
        </form>
    </div>
</div>